absl-py==2.1.0
accelerate==0.30.1
aequitas==1.0.0
aif360==0.6.1
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.13.1
altair==4.2.2
amqp==5.2.0
angle-emb==0.4.6
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
asyncssh==2.14.2
atpublic==4.1.0
attrs==23.2.0
backoff==2.2.1
bertviz==1.4.0
billiard==4.2.0
BiLLM==0.1.6
bitsandbytes==0.42.0
bleach==6.1.0
blessed==1.20.0
blinker==1.8.2
blis==0.7.11
boltons==24.0.0
boto3==1.34.128
botocore==1.34.128
cachetools==5.3.3
captum==0.7.0
catalogue==2.0.10
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.18.1
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.8.2
comm==0.2.2
confection==0.1.5
configobj==5.0.8
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.8
dacite==1.8.1
dataclasses-json==0.6.6
datasets==2.19.1
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.14
dictdiffer==0.9.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dm-tree==0.1.8
docker==7.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
dpath==2.1.6
dulwich==0.22.1
dvc==3.51.2
dvc-data==3.15.1
dvc-http==2.32.0
dvc-objects==5.1.0
dvc-render==1.0.2
dvc-studio-client==0.20.0
dvc-task==0.4.0
editor==1.6.6
einops==0.8.0
emoji==2.12.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
etils==1.7.0
evaluate==0.4.2
exceptiongroup==1.2.1
executing==2.0.1
fairgbm==0.9.14
fairlearn==0.9.0
filelock==3.14.0
Flask==3.0.3
flatbuffers==24.3.25
flatten-dict==0.4.2
flufl.lock==7.1.1
fonttools==4.52.4
frozenlist==1.4.1
fsspec==2024.3.1
funcy==2.0
gast==0.6.0
gensim==4.3.3
giskard==2.14.0
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grandalf==0.8
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
great-expectations==1.0.1
griffe==0.45.3
grpcio==1.64.0
gto==1.7.1
gunicorn==22.0.0
h5py==3.11.0
htmlmin==0.1.12
huggingface-hub==0.23.2
hydra-core==1.3.2
hyperparameter-tuning==0.3.1
idna==3.7
ImageHash==4.3.1
immutabledict==4.2.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
inquirer==3.3.0
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.1.3
isodate==0.6.1
iterative-telemetry==0.0.8
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-rw==1.4.0
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
kaggle==1.6.14
keras==3.4.1
kiwisolver==1.4.5
kombu==5.3.7
langchain==0.1.5
langchain-community==0.0.19
langchain-core==0.1.21
langcodes==3.4.0
langdetect==1.0.9
langid==1.1.6
langsmith==0.0.87
language_data==1.2.0
libclang==18.1.1
lightning-utilities==0.11.6
llvmlite==0.43.0
makefun==1.15.4
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
millify==0.1.1
mistune==3.0.2
mixpanel==4.10.1
ml-dtypes==0.4.0
mlcroissant==1.0.7
mlflow==2.13.2
mlflow-skinny==2.13.2
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
multimethod==1.11.2
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.3.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
num2words==0.5.13
numba==0.60.0
numpy==1.23.5
omegaconf==2.3.0
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opt-einsum==3.3.0
optree==0.12.1
optuna==3.6.1
orjson==3.10.3
packaging==23.2
pandas==2.1.4
pandas-stubs==2.2.2.240603
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
peft==0.11.1
pexpect==4.9.0
phik==0.12.4
pillow==10.3.0
platformdirs==3.11.0
plotly==5.23.0
ply==3.11
posthog==2.5.0
preshed==3.0.9
prettytable==3.10.2
promise==2.3
prompt_toolkit==3.0.45
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
pydot==2.0.0
pygit2==1.15.0
Pygments==2.18.0
pygtrie==2.5.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-slugify==8.0.4
pytz==2024.1
PyWavelets==1.6.0
PyYAML==6.0.1
pyzmq==26.0.3
querystring-parser==1.2.4
rapidfuzz==3.9.5
rdflib==7.0.0
readchar==4.1.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.20.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
runs==1.2.2
s3transfer==0.10.1
sacremoses==0.1.1
safetensors==0.4.3
schema==0.7.7
scikit-learn==1.5.0
scipy==1.11.4
scmrepo==3.3.5
seaborn==0.13.2
semantic-version==2.10.0
semver==3.0.2
sentencepiece==0.2.0
sentry-sdk==2.5.1
setproctitle==1.3.3
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
simple_parsing==0.1.5
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
sqlparse==0.5.0
sqltrie==0.11.0
srsly==2.4.8
stack-data==0.6.3
stanza==1.8.2
statsmodels==0.14.2
sympy==1.12
tabulate==0.9.0
tenacity==8.3.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
termcolor==2.4.0
text-unidecode==1.3
tf_keras==2.17.0
thefuzz==0.22.1
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.5
toolz==0.12.1
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.4.1
torchtext==0.18.0
torchvision==0.18.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
trankit==1.1.1
transformers==4.41.1
trl==0.8.6
typeguard==4.3.0
typer==0.12.3
types-pytz==2024.1.0.20240417
typing-inspect==0.9.0
typing_extensions==4.12.0
tyro==0.8.4
tzdata==2024.1
tzlocal==5.2
ucimlrepo==0.0.7
urllib3==2.2.1
validators==0.33.0
vine==5.1.0
visions==0.7.6
voluptuous==0.14.2
wandb==0.17.4
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
wefe==0.4.1
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wordcloud==1.9.3
wrapt==1.16.0
xmod==1.8.1
xxhash==3.4.1
yarl==1.9.4
ydata-profiling==4.8.3
zc.lockfile==3.0.post1
zipp==3.19.2
zstandard==0.22.0
